aiohttp==3.8.4
aiosignal==1.3.1
anyio==3.7.0
async-timeout==4.0.2
attrs==23.1.0
bcrypt==4.0.1
black==23.3.0
blinker==1.6.2
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
cryptography==40.0.2
Flask==2.3.2
git+https://github.com/yibudak/flask-expects-json.git@master#egg=flask-expects-json
frozenlist==1.3.3
gunicorn==20.1.0
h11==0.14.0
httpcore==0.17.2
httpx==0.24.1
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==4.17.3
MarkupSafe==2.1.2
multidict==6.0.4
mypy-extensions==1.0.0
nest-asyncio==1.5.6
orjson==3.8.14
packaging==23.1
pathspec==0.11.1
platformdirs==3.5.1
pycparser==2.21
pyOpenSSL==23.1.1
pyrsistent==0.19.3
python-gnupg==0.5.0
requests==2.31.0
sniffio==1.3.0
tqdm==4.65.0
twitter-api-client==0.8.3
urllib3==2.0.2
uvloop==0.17.0
Werkzeug==2.3.4
yarl==1.9.2
